@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&display=swap');
@import url('font-awesome.min.css');
/* 1. Create a Clean Base
------------------------------------------------------------------------------*/

html, body, br, hr, div, span, a, object, iframe, ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, p, blockquote, q, address,
small, big, cite, dfn, ins, del, i, em, b, strong, sup, sub, strike, pre, code, samp, kbd, var, tt, form, fieldset, legend, label,input, textarea, option, .nobox {background: transparent; border: 0; font-size: 100%; margin: 0; outline: 0; padding: 0; vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}

blockquote, q {quotes: none;}
br {height: 0;}
ul, ol, dl, li {margin:0; padding:0;  color: #555555; font-size: 14px; line-height: 24px;}
html, body{height: 100%; -webkit-appearance:none; border:none; -webkit-text-size-adjust:none;}
body{position:relative; font-family: 'Ubuntu Mono', monospace;}

/* Class for clearing floats */
.clear {clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
.cf:after,.cf:before{display: table;content: ''}
.cf:after{clear: both;}
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}


/* 2. Define Base Typography
------------------------------------------------------------------------------*/

/* Create the Default Headers  */
h1, h2, h3, h4, h5, h6 {}

/* Specific Header Settings */
h1 {font-weight:bold; font-size:36px; color:#fff; }
h2 {font-weight:bold; font-size:24px; color:#555; }
h3 {font-size:18px; }
h4 {font-size:16px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}

/* Create the Default Paragraphs */
p { color: #9f9f9f; font-size: 15px; line-height: 24px;}

/* Other Typo */
strong {font-weight: bold;}
hr {border:0 #000 solid; border-top-width: 1px; clear: both; height: 0;}
ol {list-style: decimal;}
ul {list-style: disc;}


/* 3. Images
------------------------------------------------------------------------------*/

/* Remove border around linked images */
img {border: 0; border-style: none;}


/* 4. Forms
------------------------------------------------------------------------------*/

input{line-height: normal;}
input[type='email'],input[type='text'],input[type='password']{ -webkit-appearance:none; border:none; -webkit-text-size-adjust:none;padding: 5px;border: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; font-size: 14px; display: block; width: 100%; background-color: #fff; border: 1px solid #ddd; padding-left: 10px; padding-right: 10px; margin-bottom: 6px;}
textarea{-webkit-appearance:none; border:none; -webkit-text-size-adjust:none;box-sizing: border-box;padding: 5px;border: 1px solid #cbcbcb;display: block;overflow: auto;}
input[type='email']:focus,input[type='text']:focus,input[type='password']:focus,textarea:focus{border-color: #6db3fd; }
input[type="checkbox"],input[type="radio"] {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 0;}
input[type="search"] {-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
.btn {display: inline-block;padding: 3px 8px;margin-bottom: 0;font-size: 12px;line-height: 1.6;text-align: center;white-space: nowrap;vertical-align: middle;cursor: default;background-image: none;border: 1px solid transparent;border-radius: 4px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);-webkit-app-region: no-drag;}
.btn:focus {outline: none;box-shadow: none;}
.btn-mini {padding: 2px 6px;}
.btn-large {padding: 6px 12px;}
.btn-form {padding-right: 20px;padding-left: 20px;}
.btn-default {color: #333;border-top-color: #c2c0c2;border-right-color: #c2c0c2;border-bottom-color: #a19fa1;border-left-color: #c2c0c2;background-color: #fcfcfc;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f1f1f1));background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #f1f1f1 100%);background-image: linear-gradient(to bottom, #fcfcfc 0%, #f1f1f1 100%);}
.btn-default:active {background-color: #ddd;background-image: none;}
.btn-primary,.btn-positive,.btn-negative,.btn-warning {color: #fff;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);}
.btn-primary {border-color: #013875;border-bottom-color: #013875; background: #013875; cursor: pointer;}
.btn-primary:hover {background: #2c68ab; border-color: #2c68ab;}
.btn-primary:active {background-color: #3e9bf4;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e9bf4), color-stop(100%, #0469de));background-image: -webkit-linear-gradient(top, #3e9bf4 0%, #0469de 100%);background-image: linear-gradient(to bottom, #3e9bf4 0%, #0469de 100%);}
.btn-positive {border-color: #29a03b;border-bottom-color: #248b34;background-color: #5bd46d;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bd46d), color-stop(100%, #29a03b));background-image: -webkit-linear-gradient(top, #5bd46d 0%, #29a03b 100%);background-image: linear-gradient(to bottom, #5bd46d 0%, #29a03b 100%);}
.btn-positive:active {background-color: #34c84a;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34c84a), color-stop(100%, #248b34));background-image: -webkit-linear-gradient(top, #34c84a 0%, #248b34 100%);background-image: linear-gradient(to bottom, #34c84a 0%, #248b34 100%);}
.btn-negative {border-color: #fb2f29;border-bottom-color: #fb1710;background-color: #fd918d;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd918d), color-stop(100%, #fb2f29));background-image: -webkit-linear-gradient(top, #fd918d 0%, #fb2f29 100%);background-image: linear-gradient(to bottom, #fd918d 0%, #fb2f29 100%);}
.btn-negative:active {background-color: #fc605b;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc605b), color-stop(100%, #fb1710));background-image: -webkit-linear-gradient(top, #fc605b 0%, #fb1710 100%);background-image: linear-gradient(to bottom, #fc605b 0%, #fb1710 100%);}
.btn-warning {border-color: #fcaa0e;border-bottom-color: #ee9d02;background-color: #fece72;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fece72), color-stop(100%, #fcaa0e));background-image: -webkit-linear-gradient(top, #fece72 0%, #fcaa0e 100%);background-image: linear-gradient(to bottom, #fece72 0%, #fcaa0e 100%);}
.btn-warning:active {background-color: #fdbc40;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdbc40), color-stop(100%, #ee9d02));background-image: -webkit-linear-gradient(top, #fdbc40 0%, #ee9d02 100%);background-image: linear-gradient(to bottom, #fdbc40 0%, #ee9d02 100%);}

/* Loading */

.loader {--path: #213a73;--dot: #1a82fb;--duration: 3s;width: 44px;height: 44px;position: relative;}.loader:before {content: '';width: 6px;height: 6px;border-radius: 50%;position: absolute;display: block;background: var(--dot);top: 37px;left: 19px;-webkit-transform: translate(-18px, -18px);transform: translate(-18px, -18px);-webkit-animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;}.loader svg {display: block;width: 100%;height: 100%;}.loader svg rect,.loader svg polygon,.loader svg circle {fill: none;stroke: var(--path);stroke-width: 10px;stroke-linejoin: round;stroke-linecap: round;}.loader svg polygon {stroke-dasharray: 145 76 145 76;stroke-dashoffset: 0;-webkit-animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;}.loader svg rect {stroke-dasharray: 192 64 192 64;stroke-dashoffset: 0;-webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;}.loader svg circle {stroke-dasharray: 150 50 150 50;stroke-dashoffset: 75;-webkit-animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;}.loader.triangle {width: 48px;}.loader.triangle:before {left: 21px;-webkit-transform: translate(-10px, -18px);transform: translate(-10px, -18px);-webkit-animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;}@-webkit-keyframes pathTriangle {33% {stroke-dashoffset: 74;}66% {stroke-dashoffset: 147;}100% {stroke-dashoffset: 221;}}@keyframes pathTriangle {33% {stroke-dashoffset: 74;}66% {stroke-dashoffset: 147;}100% {stroke-dashoffset: 221;}}@-webkit-keyframes dotTriangle {33% {-webkit-transform: translate(0, 0);transform: translate(0, 0);}66% {-webkit-transform: translate(10px, -18px);transform: translate(10px, -18px);}100% {-webkit-transform: translate(-10px, -18px);transform: translate(-10px, -18px);}}@keyframes dotTriangle {33% {-webkit-transform: translate(0, 0);transform: translate(0, 0);}66% {-webkit-transform: translate(10px, -18px);transform: translate(10px, -18px);}100% {-webkit-transform: translate(-10px, -18px);transform: translate(-10px, -18px);}}@-webkit-keyframes pathRect {25% {stroke-dashoffset: 64;}50% {stroke-dashoffset: 128;}75% {stroke-dashoffset: 192;}100% {stroke-dashoffset: 256;}}@keyframes pathRect {25% {stroke-dashoffset: 64;}50% {stroke-dashoffset: 128;}75% {stroke-dashoffset: 192;}100% {stroke-dashoffset: 256;}}@-webkit-keyframes dotRect {25% {-webkit-transform: translate(0, 0);transform: translate(0, 0);}50% {-webkit-transform: translate(18px, -18px);transform: translate(18px, -18px);}75% {-webkit-transform: translate(0, -36px);transform: translate(0, -36px);}100% {-webkit-transform: translate(-18px, -18px);transform: translate(-18px, -18px);}}@keyframes dotRect {25% {-webkit-transform: translate(0, 0);transform: translate(0, 0);}50% {-webkit-transform: translate(18px, -18px);transform: translate(18px, -18px);}75% {-webkit-transform: translate(0, -36px);transform: translate(0, -36px);}100% {-webkit-transform: translate(-18px, -18px);transform: translate(-18px, -18px);}}@-webkit-keyframes pathCircle {25% {stroke-dashoffset: 125;}50% {stroke-dashoffset: 175;}75% {stroke-dashoffset: 225;}100% {stroke-dashoffset: 275;}}@keyframes pathCircle {25% {stroke-dashoffset: 125;}50% {stroke-dashoffset: 175;}75% {stroke-dashoffset: 225;}100% {stroke-dashoffset: 275;}}.loader {display: inline-block;margin: 0 16px;}html {-webkit-font-smoothing: antialiased;}

#load{display: inline-block; width: 30px; height: 100%; background-image: url(../images/loading.gif); background-repeat: no-repeat; background-position: center; background-size: 105px; margin-left: 20px; opacity: 0; visibility: hidden;}
#load.show{opacity: 1; visibility: visible;}
/* Heom Page */
.home_page{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex; justify-content: center; align-items: center; height: 100vh; -webkit-user-select: none;
    -webkit-app-region: drag;}
.home_page .left_panel{ width: 50%; text-align: center; border-right: 1px solid #ddd; height: 100vh; display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex; justify-content: center; align-items: center; flex-direction: column}
.home_page .left_panel img{width: 60%;}
.home_page .right_panel{ width: 50%; padding: 10px 0; height: 100vh; background: #f5f5f4; padding-top: 20px; overflow: auto; position: relative; padding-bottom: 30px;}
.home_page .right_panel .list_part{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex; flex-direction: column; margin: 0 auto; padding: 10px; cursor: pointer;}
.home_page .right_panel .list_part:hover{background: #213a73;}
.home_page .right_panel .list_part h4{font-weight: 300; color: #000; font-size: 16px;}
.home_page .right_panel .list_part p{font-weight: 300; color: #000; font-size: 11px;}
.home_page .right_panel .list_part:hover h4{color: #fff;}
.home_page .right_panel .list_part:hover p{color: #fff;}
.home_page .right_panel a{position: absolute; left: 5px; bottom: 5px; text-decoration: none; font-size: 12px; color: #737373; padding: 5px; border-radius: 4px;}
.home_page .right_panel a:hover{background: #ccc; color: #fff;}

/* Default Page */
.page-panel{display: flex;}
.page-panel .left-panel{width: 50px; height: calc(100vh - 60px); overflow: auto; background: #24272d; padding: 10px 5px;}
.page-panel .left-panel .play{background: #3b3f48; padding:5px 10px; width: 100%; display: inline-block; text-align: center; border-radius: 4px; margin-bottom: 5px;}
.page-panel .left-panel .play img{height: 17px; display: block; margin: 0 auto}
.page-panel .left-panel .play.stop_btn{height: 27px;}
.page-panel .left-panel .play.stop_btn span{display: block; height: 100%; border: 1px solid #c1cad9; border-radius: 2px; background: #c1cad9; margin: 0 auto; width: 90%;}
.page-panel .right-panel{width: calc(100% - 50px); height: calc(100vh - 60px); overflow: auto; border-left: 1px solid #292c33; background: #282a36; padding: 15px; display: flex;}
.page-panel .right-panel .cordova_plugin{width: 50%; height: 100%; overflow: auto;}
.page-panel .right-panel .npm_plugin{width: 50%; height: 100%; overflow: auto;}
.page-panel .right-panel h2{font-size: 16px; color: #95a2bb; font-weight: 500; margin-bottom: 15px;}
.page-panel .right-panel ul{padding-left: 10px;}
.page-panel .right-panel ul li{color: #9f9f9f; list-style: none;}
.page-panel .right-panel ul li img{width: 12px;vertical-align: middle;margin-right: 8px;margin-top: -2px; cursor: pointer;}

.build h4{font-weight: 500; margin-top: 20px; color: #95a2bb;}
.mobile-build{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex; justify-content: space-between; padding-top: 10px;padding-bottom: 10px;}
.mobile-build .android{width: 50%; text-align: center;}
.mobile-build .iphone{width: 50%; text-align: center;}
.mobile-build .iphone img,.mobile-build .android img{height: 145px;display: block; margin: 0 auto 10px}

header{height: 35px; background: #24272d; border-bottom: 1px solid #141619; border-bottom: 1px solid #000; -webkit-user-select: none;
    -webkit-app-region: drag;}
header p{text-align: center; line-height: 34px}

/* Project Start Part */
.start_project{ padding-top: 20px; width: 60%;}
.start_project input{width: 100%; border-radius: 23px; font-size: 12px; padding-left: 15px;}
.start_project button{width: 100%; margin-bottom: 15px; margin-top: 10px;}
.start_project select{height: 25px;vertical-align: top; outline: none; width: 50%; background: none; border: 1px solid #ddd; border-radius: 23px;}
.start_project label{display: flex; text-align: left; justify-content: space-between; margin-bottom: 15px; font-size: 14px; color: #213a73; align-items: center}

.process_poup{position: fixed; width: 100%; left: 0; top: 0; height: 100%; padding: 30px; background: rgba(58, 58, 58, 0.9); opacity: 0; visibility: hidden; display:flex;flex-direction:column;height:100%;}
.process_poup.active{opacity: 1; visibility: visible;}
.process_poup .process_data{font-size: 12px; height: 100%; overflow: auto; flex: 1;height:100%;overflow: auto;display: flex; justify-content: center; align-items: center;}
.process_poup .process_data p{position: absolute; left: 0; right: 0; bottom: 10px; color: #fff; text-align: center;}
.loader {--path: #ffffff;--dot: #1a82fb;--duration: 3s;width: 44px;height: 44px;position: relative;}.loader:before {content: '';width: 6px;height: 6px;border-radius: 50%;position: absolute;display: block;background: var(--dot);top: 37px;left: 19px;-webkit-transform: translate(-18px, -18px);transform: translate(-18px, -18px);-webkit-animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;}.loader svg {display: block;width: 100%;height: 100%;}.loader svg rect,.loader svg polygon,.loader svg circle {fill: none;stroke: var(--path);stroke-width: 10px;stroke-linejoin: round;stroke-linecap: round;}.loader svg polygon {stroke-dasharray: 145 76 145 76;stroke-dashoffset: 0;-webkit-animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;}.loader svg rect {stroke-dasharray: 192 64 192 64;stroke-dashoffset: 0;-webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;}.loader svg circle {stroke-dasharray: 150 50 150 50;stroke-dashoffset: 75;-webkit-animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;}.loader.triangle {width: 48px;}.loader.triangle:before {left: 21px;-webkit-transform: translate(-10px, -18px);transform: translate(-10px, -18px);-webkit-animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;}@-webkit-keyframes pathTriangle {33% {stroke-dashoffset: 74;}66% {stroke-dashoffset: 147;}100% {stroke-dashoffset: 221;}}@keyframes pathTriangle {33% {stroke-dashoffset: 74;}66% {stroke-dashoffset: 147;}100% {stroke-dashoffset: 221;}}@-webkit-keyframes dotTriangle {33% {-webkit-transform: translate(0, 0);transform: translate(0, 0);}66% {-webkit-transform: translate(10px, -18px);transform: translate(10px, -18px);}100% {-webkit-transform: translate(-10px, -18px);transform: translate(-10px, -18px);}}@keyframes dotTriangle {33% {-webkit-transform: translate(0, 0);transform: translate(0, 0);}66% {-webkit-transform: translate(10px, -18px);transform: translate(10px, -18px);}100% {-webkit-transform: translate(-10px, -18px);transform: translate(-10px, -18px);}}@-webkit-keyframes pathRect {25% {stroke-dashoffset: 64;}50% {stroke-dashoffset: 128;}75% {stroke-dashoffset: 192;}100% {stroke-dashoffset: 256;}}@keyframes pathRect {25% {stroke-dashoffset: 64;}50% {stroke-dashoffset: 128;}75% {stroke-dashoffset: 192;}100% {stroke-dashoffset: 256;}}@-webkit-keyframes dotRect {25% {-webkit-transform: translate(0, 0);transform: translate(0, 0);}50% {-webkit-transform: translate(18px, -18px);transform: translate(18px, -18px);}75% {-webkit-transform: translate(0, -36px);transform: translate(0, -36px);}100% {-webkit-transform: translate(-18px, -18px);transform: translate(-18px, -18px);}}@keyframes dotRect {25% {-webkit-transform: translate(0, 0);transform: translate(0, 0);}50% {-webkit-transform: translate(18px, -18px);transform: translate(18px, -18px);}75% {-webkit-transform: translate(0, -36px);transform: translate(0, -36px);}100% {-webkit-transform: translate(-18px, -18px);transform: translate(-18px, -18px);}}@-webkit-keyframes pathCircle {25% {stroke-dashoffset: 125;}50% {stroke-dashoffset: 175;}75% {stroke-dashoffset: 225;}100% {stroke-dashoffset: 275;}}@keyframes pathCircle {25% {stroke-dashoffset: 125;}50% {stroke-dashoffset: 175;}75% {stroke-dashoffset: 225;}100% {stroke-dashoffset: 275;}}.loader {display: inline-block;margin: 0 16px;}html {-webkit-font-smoothing: antialiased;}

footer{height: 25px; background: #22252b; display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex; align-items: center;padding-left: 15px; padding-right: 15px; border-top: 1px solid #141619; position: relative;}
footer i{color: #95a2bb; margin-right: 6px; cursor: pointer;}
footer a{position: absolute; right: 0; top: 0; height: 100%; color: #9f9f9f; font-size: 15px; line-height: 24px; padding-right: 15px;}

.overlay_popup{position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,0.5); z-index: 999; display: flex; justify-content: center; align-items: center; opacity: 0; visibility: hidden;}
.overlay_popup.active{opacity: 1; visibility: visible;}
.overlay_popup .body_section{ width: 500px; background: #282a36; min-height: 300px; border-radius: 4px; overflow: hidden; position: relative;}
.overlay_popup .body_section .header_part{background: #24272d; color: rgba(255, 255, 255, 0.74); line-height: 41px; padding:0 15px; border-bottom: 1px solid rgba(255, 255, 255, 0.06);}
.overlay_popup .body_section .inner_content{padding-bottom: 43px; padding-top: 30px; max-height: 300px; overflow: auto;}
#appDetail.overlay_popup .body_section .inner_content{padding-top: 17px;}
.overlay_popup .body_section .inner_content label{display: flex; width: 400px; margin: 0 auto 10px; align-items: center; color: #ffffff;}
.overlay_popup .body_section .inner_content label span{width: 200px; margin-bottom: 6px;}
.overlay_popup .body_section .inner_content label.note span{width: 100%; font-size: 12px; color: #868686;}
.overlay_popup .body_section .inner_content label input{background: #24272d; border: 1px solid rgba(255, 255, 255, 0.06); color: #ffffff;}
.overlay_popup .body_section .footer_section{position: absolute; left: 0; bottom: 0; width: 100%; height: 42px; background: #24272d; border-top: 1px solid rgba(255, 255, 255, 0.06); padding:6px 20px 0;}
.overlay_popup .body_section .footer_section .btn{background: #3f3f3f; padding:0 10px; color: #ffffff; line-height: 25px; text-decoration: none; float: right; margin-left: 10px; border-radius: 2px; cursor: pointer;}
.overlay_popup .body_section .footer_section .btn:hover{background: #013875;}